In [1]:
##Estimación de indicadores de mujeres
#Se borra todo lo que se encuentra en el entorno

rm(list=ls())

# Librerías ====
if(!require('pacman')) install.packages('pacman')
pacman::p_load(tidyverse,lubridate, showtext,srvyr,foreign)
font_add_google("Poppins", "pop")
showtext_auto()
remotes::install_github("cpyp-ipdp/funcionespgd", force = TRUE)
library(funcionespgd)

Cargando paquete requerido: pacman

Using GitHub PAT from the git credential store.

Downloading GitHub repo cpyp-ipdp/funcionespgd@HEAD

rlang  (1.1.4 -> 1.1.6) [CRAN]
glue   (1.7.0 -> 1.8.0) [CRAN]
cli    (3.6.3 -> 3.6.5) [CRAN]
tibble (3.2.1 -> 3.3.0) [CRAN]

Installing 4 packages: rlang, glue, cli, tibble

Warning message:
"package 'tibble' is in use and will not be installed"
Installing packages into 'C:/Users/claud/AppData/Local/R/win-library/4.4'
(as 'lib' is unspecified)

package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\claud\AppData\Local\R\win-library\4.4\00LOCK\rlang\libs\x64\rlang.dll  a C:\Users\claud\AppData\Local\R\win-library\4.4\rlang\libs\x64\rlang.dll: Permission denied"
Warning message:
"restored 'rlang'"

package 'glue' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'glue'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\claud\AppData\Local\R\win-library\4.4\00LOCK\glue\libs\x64\glue.dll  a C:\Users\claud\AppData\Local\R\win-library\4.4\glue\libs\x64\glue.dll: Permission denied"
Warning message:
"restored 'glue'"

package 'cli' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'cli'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\claud\AppData\Local\R\win-library\4.4\00LOCK\cli\libs\x64\cli.dll  a C:\Users\claud\AppData\Local\R\win-library\4.4\cli\libs\x64\cli.dll: Permission denied"
Warning message:
"restored 'cli'"

The downloaded binary packages are in
	C:\Users\claud\AppData\Local\Temp\RtmpEn5FXg\downloaded_packages
── R CMD build ─────────────────────────────────────────────────────────────────
* checking for file 'C:\Users\claud\AppData\Local\Temp\RtmpEn5FXg\remotesb600516226b6\cpyp-ipdp-funcionespgd-6fd64b9/DESCRIPTION' ... OK
* preparing 'funcionespgd':
* checking DESCRIPTION meta-information ... OK
* checking for LF line-endings in source and make files and shell scripts
* checking for empty or unneeded directories
Omitted 'LazyData' from DESCRIPTION
* building 'funcionespgd_0.1.0.tar.gz'

Installing package into 'C:/Users/claud/AppData/Local/R/win-library/4.4'
(as 'lib' is unspecified)

In [2]:
##Víctimas en carpetas de investigación
victimas<-read_csv('https://archivo.datos.cdmx.gob.mx/FGJ/victimas/victimasFGJ_acumulado_2024_09.csv')%>%
janitor::clean_names()%>%
#Filtrar mujeres
filter(sexo == 'Femenino',
       tipo_persona=='FISICA',
       alcaldia_hecho != 'FUERA DE CDMX')%>%
#Clasificar delitos con perspectiva de género
mutate(
    perspectiva_genero = case_when(delito %in% c('ABUSO SEXUAL',
                                                 'ACOSO SEXUAL',
                                                 'ACOSO SEXUAL AGRAVADO EN CONTRA DE MENORES',
                                                 'CONTRA LA INTIMIDAD SEXUAL',
                                                 'FEMINICIDIO',
                                                 'FEMINICIDIO POR ARMA BLANCA',
                                                 'FEMINICIDIO POR DISPARO DE ARMA DE FUEGO',
                                                 'FEMINICIDIO POR GOLPES',
                                                 'HOMICIDIO POR ARMA BLANCA',
                                                 'HOMICIDIO POR ARMA DE FUEGO',
                                                 'HOMICIDIO POR GOLPES',
                                                 'HOMICIDIOS INTENCIONALES (OTROS)',
                                                 'LESIONES INTENCIONALES',
                                                 'LESIONES INTENCIONALES POR ARMA BLANCA',
                                                 'LESIONES INTENCIONALES POR ARMA DE FUEGO',
                                                  'LESIONES INTENCIONALES POR GOLPES',
                                                 'PLAGIO O SECUESTRO',
                                                 'TRATA DE PERSONAS',
                                                 'VIOLACION',
                                                 'VIOLACION EQUIPARADA',
                                                 'VIOLACION EQUIPARADA POR CONOCIDO',
                                                 'VIOLACION TUMULTUARIA',
                                                 'VIOLENCIA FAMILIAR') ~ 1,
                            TRUE ~ 0))%>%
#Dejar solo aquellos que han sido víctimas
  filter(calidad_juridica %in% c(
    'OFENDIDO',
    'VICTIMA Y DENUNCIANTE',
    'VICTIMA',
    'OFENDIDO Y DENUNCIANTE',
    'CADAVER',
    'AGRAVIADO',
    'LESIONADO',
    'DENUNCIANTE Y VICTIMA'
  ))%>%
#Clasificar por delito general
mutate(
    delito_general = case_when(delito %in% c('ABUSO SEXUAL') ~ "ABUSO SEXUAL",
                                delito %in% c('ACOSO SEXUAL', 'ACOSO SEXUAL AGRAVADO EN CONTRA DE MENORES') ~ "ACOSO SEXUAL",
                                delito %in% c('CONTRA LA INTIMIDAD SEXUAL') ~ "CONTRA LA INTIMIDAD SEXUAL",
                                delito %in% c('FEMINICIDIO', 'FEMINICIDIO POR ARMA BLANCA', 'FEMINICIDIO POR DISPARO DE ARMA DE FUEGO', 'FEMINICIDIO POR GOLPES') ~ "FEMINICIDIO",
                                delito %in% c('HOMICIDIO POR ARMA BLANCA', 'HOMICIDIO POR ARMA DE FUEGO', 'HOMICIDIO POR GOLPES', 'HOMICIDIOS INTENCIONALES (OTROS)') ~ "HOMICIDIO DOLOSO",
                                delito %in% c('LESIONES INTENCIONALES', 'LESIONES INTENCIONALES POR ARMA BLANCA', 'LESIONES INTENCIONALES POR ARMA DE FUEGO', 'LESIONES INTENCIONALES POR GOLPES') ~ "LESIONES DOLOSAS",
                                delito %in% c('PLAGIO O SECUESTRO') ~ "SECUESTRO",
                                delito %in% c('TRATA DE PERSONAS') ~ "TRATA DE PERSONAS",
                                delito %in% c('VIOLACION', 'VIOLACION EQUIPARADA', 'VIOLACION EQUIPARADA POR CONOCIDO', 'VIOLACION TUMULTUARIA') ~ "VIOLACION",
                                delito %in% c('VIOLENCIA FAMILIAR') ~ "VIOLENCIA FAMILIAR",
                                TRUE ~ "OTROS"
    ))

Rows: 1415763 Columns: 22
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (13): mes_inicio, mes_hecho, delito, categoria_delito, sexo, tipo_perso...
dbl   (5): anio_inicio, anio_hecho, edad, latitud, longitud
date  (2): fecha_inicio, fecha_hecho
time  (2): hora_inicio, hora_hecho

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
#Víctimas anual

vict_pg<-victimas%>%
filter(perspectiva_genero==1, anio_inicio>2018)%>%
group_by(anio_inicio)%>%
summarise(vict=n())%>%
#Calcular promedio diario de acuerdo al año
mutate(promedio_diario=vict/365)%>%
rename(year=anio_inicio)
vict_pg

  year vict  promedio_diario
1 2019 28658  78.51507
2 2020 26082  71.45753
3 2021 37095 101.63014
4 2022 40431 110.76986
5 2023 40775 111.71233
6 2024 29962  82.08767

In [4]:
#Víctimas de feminicidio
vict_fem<-victimas%>%
filter(delito_general=='FEMINICIDIO', anio_inicio>2018)%>%
group_by(anio_inicio)%>%
summarise(vict=n())%>%
#Calcular promedio diario de acuerdo al año
mutate(promedio_diario=vict/365)%>%
rename(year=anio_inicio)
vict_fem

  year vict promedio_diario
1 2019 70   0.1917808
2 2020 70   0.1917808
3 2021 61   0.1671233
4 2022 78   0.2136986
5 2023 63   0.1726027
6 2024 43   0.1178082

### Seguridad y violencia

### Episodios de violencia contra las mujeres

In [5]:
urls<-c("https://www.inegi.org.mx/contenidos/programas/endireh/2021/microdatos/bd_endireh_2021_csv.zip",
        "https://www.inegi.org.mx/contenidos/programas/endireh/2016/microdatos/bd_mujeres_endireh2016_sitioinegi_csv.zip")

In [6]:
getwd()

[1] "c:/Users/claud/Documents/GitHub/pgd_cdmx/indicadores/mujeres"

In [7]:
#Crear carpeta "endireh" en "datos"
if (!dir.exists("datos/endireh")) {
  dir.create("datos/endireh")
}

In [8]:
#Descargar, descomprimir y borrar zip en la carpeta "datos"
options(timeout = 900)
for (i in 1:length(urls)){
  temp <- tempfile()
  download.file(urls[i], temp, mode = "wb")
  unzip(temp, exdir = "datos/endireh")
  unlink(temp)
}

In [9]:
estima_violencia <- function(year) {
  # Seleccionar archivo base según el año
  archivo <- switch(as.character(year),
                    "2021" = "bd_endireh_2021.csv",
                    "2016" = "bd_mujeres_endireh2016_sitioinegi.csv",
                    stop("Año no válido. Prueba con 2021 o 2016.")
  )

  # Definir ruta base según el año
  ruta_base <- ifelse(year == 2021,
                      "datos/endireh/bd_endireh_2021_csv/",
                      "datos/endireh/bd_mujeres_endireh2016_sitioinegi_csv/")

  # Cargar tabla principal
  tabla_violencia <- read_csv(paste0(ruta_base, "TB_SEC_IV.csv")) %>%
    janitor::clean_names()

  # Definir secciones a unir
  romanos <- c("V", "VI", "VII", "VIII", "IX", "X", "XI", "XII",
               "XIII", "XIV", "XV", "XVI")

  # Incluir XIV_2 solo si el año es 2021
  if (year == 2021) {
    romanos <- c(romanos, "XIV_2")
  }

  # Unir todas las secciones
  for (i in romanos) {
    tabla <- read_csv(paste0(ruta_base, "TB_SEC_", i, ".csv")) %>%
      janitor::clean_names()

    tabla_violencia <- left_join(tabla_violencia, tabla,
                                 c("upm","estrato","upm_dis","est_dis","fac_muj", "viv_sel", "hogar","fac_viv","id_viv","cve_ent","nom_ent"))
  }


  #Clasificar violencia en los últimos 12 meses
tabla_violencia <- tabla_violencia %>%
  mutate(
    violencia_muj = case_when(
      p7_8_1 %in% c('1', '2', '3') | p7_8_2 %in% c('1', '2', '3') |
      p7_8_3 %in% c('1', '2', '3') | p7_8_4 %in% c('1', '2', '3') |
      p7_8_5 %in% c('1', '2', '3') | p7_8_6 %in% c('1', '2', '3') |
      p7_8_7 %in% c('1', '2', '3') | p7_8_8 %in% c('1', '2', '3') |
      p7_8_9 %in% c('1', '2', '3') | p7_8_10 %in% c('1', '2', '3') |
      p7_8_11 %in% c('1', '2', '3') | p7_8_12 %in% c('1', '2', '3') |
      p7_8_13 %in% c('1', '2', '3') | p7_8_14 %in% c('1', '2', '3') |
      p7_8_15 %in% c('1', '2', '3') | p7_8_16 %in% c('1', '2', '3') |
      p7_8_17 %in% c('1', '2', '3') | p7_8_18 %in% c('1', '2', '3') |
      p8_8_1 %in% c('1') | p8_8_2 %in% c('1') |
        p8_8_3 %in% c('1') | p8_8_4 %in% c('1') |
        p8_8_5 %in% c('1') | p8_8_6 %in% c('1') |
        p8_8_7 %in% c('1') | p8_8_8 %in% c('1') |
        p8_8_9 %in% c('1') |
        p8_11_1 %in% c('1', '2', '3') | p8_11_2 %in% c('1', '2', '3') |
        p8_11_3 %in% c('1', '2', '3') | p8_11_4 %in% c('1', '2', '3') |
        p8_11_5 %in% c('1', '2', '3') | p8_11_6 %in% c('1', '2', '3') |
        p8_11_7 %in% c('1', '2', '3') | p8_11_8 %in% c('1', '2', '3') |
      p8_11_9 %in% c('1', '2', '3') | p8_11_10 %in% c('1', '2', '3') |
      p8_11_11 %in% c('1', '2', '3') | p8_11_12 %in% c('1', '2', '3') |
      p8_11_13 %in% c('1', '2', '3') | p8_11_14 %in% c('1', '2', '3') |
      p8_11_15 %in% c('1', '2', '3') | p8_11_16 %in% c('1', '2', '3') |
      p8_11_17 %in% c('1', '2', '3') | p8_11_18 %in% c('1', '2', '3') |
      p8_11_19 %in% c('1', '2', '3') | p9_3_1 %in% c('1', '2', '3') |
      p9_3_2 %in% c('1', '2', '3') | p9_3_3 %in% c('1', '2', '3') |
      p9_3_4 %in% c('1', '2', '3') | p9_3_5 %in% c('1', '2', '3') |
      p9_3_6 %in% c('1', '2', '3') | p9_3_7 %in% c('1', '2', '3') |
      p9_3_8 %in% c('1', '2', '3') | p9_3_9 %in% c('1', '2', '3') |
      p9_3_10 %in% c('1', '2', '3') | p9_3_11 %in% c('1', '2', '3') |
      p9_3_12 %in% c('1', '2', '3') | p9_3_13 %in% c('1', '2', '3') |
      p9_3_14 %in% c('1', '2', '3') | p9_3_15 %in% c('1', '2', '3') |
      p9_3_16 %in% c('1', '2', '3') | p11_1_1 %in% c('1', '2', '3') |
      p11_1_2 %in% c('1', '2', '3') | p11_1_3 %in% c('1', '2', '3') |
      p11_1_4 %in% c('1', '2', '3') | p11_1_5 %in% c('1', '2', '3') |
      p11_1_6 %in% c('1', '2', '3') | p11_1_7 %in% c('1', '2', '3') |
      p11_1_8 %in% c('1', '2', '3') | p11_1_9 %in% c('1', '2', '3') |
      p11_1_10 %in% c('1', '2', '3') | p11_1_11 %in% c('1', '2', '3') |
      p11_1_12 %in% c('1', '2', '3') | p11_1_13 %in% c('1', '2', '3') |
      p11_1_14 %in% c('1', '2', '3') | p11_1_15 %in% c('1', '2', '3') |
      p11_1_16 %in% c('1', '2', '3') | p11_1_17 %in% c('1', '2', '3') |
      p11_1_18 %in% c('1', '2', '3') | p11_1_19 %in% c('1', '2', '3') |
      p11_1_20 %in% c('1', '2', '3') | p14_3_1 %in% c('1', '2', '3') |
      p14_3_2 %in% c('1', '2', '3') | p14_3_3 %in% c('1', '2', '3') |
      p14_3_4 %in% c('1', '2', '3') | p14_3_5 %in% c('1', '2', '3') |
      p14_3_6 %in% c('1', '2', '3') | p14_3_7 %in% c('1', '2', '3') |
      p14_3_8 %in% c('1', '2', '3') | p14_3_9 %in% c('1', '2', '3') |
      p14_3_10 %in% c('1', '2', '3') | p14_3_11 %in% c('1', '2', '3') |
      p14_3_12 %in% c('1', '2', '3') | p14_3_13 %in% c('1', '2', '3') |
      p14_3_14 %in% c('1', '2', '3') | p14_3_15 %in% c('1', '2', '3') |
      p14_3_16 %in% c('1', '2', '3') | p14_3_17 %in% c('1', '2', '3') |
      p14_3_18 %in% c('1', '2', '3') | p14_3_19 %in% c('1', '2', '3') |
      p14_3_20 %in% c('1', '2', '3') | p14_3_21 %in% c('1', '2', '3') |
      p14_3_22 %in% c('1', '2', '3') | p14_3_23ab %in% c('1', '2', '3') |
      p14_3_24ab %in% c('1', '2', '3') | p14_3_25 %in% c('1', '2', '3') |
      p14_3_26 %in% c('1', '2', '3') | p14_3_27 %in% c('1', '2', '3') |
        p14_3_28 %in% c('1', '2', '3') | p14_3_29 %in% c('1', '2', '3') |
        p14_3_30 %in% c('1', '2', '3') | p14_3_31 %in% c('1', '2', '3') |
        p14_3_32 %in% c('1', '2', '3') | p14_3_33 %in% c('1', '2', '3') |
        p14_3_34 %in% c('1', '2', '3') | p14_3_35ab %in% c('1', '2', '3') |
        p14_3_36ab %in% c('1', '2', '3') | p14_3_37ab %in% c('1', '2', '3') |
        p14_3_38ab %in% c('1', '2', '3') ~ 1,
      TRUE ~ 0
    )
  )

dm<-tabla_violencia%>%
  as_survey_design(
  weights = fac_muj,
    ids = upm_dis,
    strata = est_dis,
    nest = TRUE
  )
dm %>%
  filter(cve_ent == "09") %>%
group_by(violencia_muj) %>%
summarise(
  pob = survey_total(vartype = "cv"),
  porcentaje = survey_prop(vartype = "cv")
) %>% mutate(porcentaje = porcentaje * 100)%>%
filter(violencia_muj == 1)

}

In [10]:
estima_violencia(2021)

Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 75
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (34): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (39): HOGAR, P4AB_1, P4A_1, P4A_2, P4B_1, P4B_2, P4BC_1, P4C_1, P4BC_3, ...
lgl  (2): P4_10_2_3, P4_10_3_3

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 39
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (15): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (20): HOGAR, P5_1, P5_3_1, P5_3_2, P5_3_3, P5_3_4, P5_3_5, P5_3_6, P5_3_...
lgl  (4): P5_2, P5_4_4E, P5_4_5E, P5_E4

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 110127 Columns: 26
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (13): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (13): HOGAR, P6_1_1, P6_1_2, P6_1_3, P6_1_4, P6_1_5, P6_2_1, P6_2_2, P6_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 227
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (14): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, C...
dbl (144): HOGAR, P7_1, P7_2, P7_3, P7_4, P7_5, P7_6_1, P7_6_2, P7_6_3, P7_6...
lgl  (69): P7_9_1_2, P7_9_1_3, P7_10_1_2, P7_10_1_3, P7_7_2_3, P7_9_2_2, P7_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 241
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (15): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, C...
dbl (144): HOGAR, P8_1, P8_2, P8_3_1_1, P8_3_1_2, P8_3_2_1, P8_3_2_2, P8_3_2...
lgl  (82): P8_12_1_3, P8_10_2_2, P8_10_2_3, P8_12_2_1, P8_12_2_2, P8_12_2_3,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 227
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (69): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, C...
dbl (121): HOGAR, P9_1_1, P9_1_2, P9_1_3, P9_1_4, P9_1_5, P9_1_6, P9_1_7, P9...
lgl  (37): P9_2_1E, P9_4_1E, P9_4_2_3, P9_2_4_3, P9_4_4_3, P9_5_4_3, P9_2_5_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 110127 Columns: 60
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (19): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (41): HOGAR, P10_1_1, P10_1_2, P10_1_3, P10_1_4, P10_1_5, P10_1_6, P10_1...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 159
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (52): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (63): HOGAR, P11_1_1, P11_1_2, P11_1_3, P11_1_4, P11_1_5, P11_1_6, P11_1...
lgl (44): P11_2_2_3, P11_3_2_3, P11_2_3_3, P11_3_3_2, P11_3_3_3, P11_2_4_3, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 54
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (24): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (24): HOGAR, P12_1, P12_2, P12_3, P12_4, P12_5, P12_6, P12_7, P12_8, P12...
lgl  (6): P12_15_2_3, P12_15_3_2, P12_15_3_3, P12_15_4_3, P12_15_6_2, P12_15...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 110127 Columns: 76
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (21): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (55): HOGAR, P13_B, P13_B_1_1, P13_B_1_2, P13_B_1_3, P13_B_1_4, P13_B_1_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 224
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (23): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, C...
dbl (193): HOGAR, P14_1_1, P14_1_2, P14_1_3, P14_1_4, P14_1_5, P14_1_6, P14_...
lgl   (8): P14_9_2_2, P14_9_2_3, P14_9_3_3, P14_9_6_2, P14_9_6_3, P14_9_7_3,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 110127 Columns: 88
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (13): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (75): HOGAR, P15_1AB_1, P15_1AB_2, P15_1AB_3, P15_1AB_4, P15_1AB_5, P15_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 47
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (13): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, CV...
dbl (32): HOGAR, P16_1_1, P16_1_2, P16_1_3, P16_1_4, P16_1_5, P16_1_6, P16_2...
lgl  (2): P16_3_1_3, P16_3_3_3

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 110127 Columns: 178
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (32): ID_VIV, ID_PER, UPM, VIV_SEL, N_REN, DOMINIO, CVE_ENT, NOM_ENT, C...
dbl (130): HOGAR, P14_14_1, P14_14_2, P14_14_3, P14_14_4, P14_15_1, P14_18_1...
lgl  (16): P14_17_1_2, P14_17_1_3, P14_18_1_2, P14_18_1_3, P14_19_1E, P14_18...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  violencia_muj pob     pob_cv    porcentaje porcentaje_cv
1 1             1880387 0.0284019 46.13754   0.02465223

In [12]:
##Leer archivo de excel para obtener resultados rápidos
url_excel<-"https://www.inegi.org.mx/contenidos/programas/endireh/2021/tabulados/xxi_prevalencia_de_la_violencia_estimaciones_endireh2021.xlsx"
violencia<-openxlsx::read.xlsx(url_excel,sheet=3,
rows=62:64,cols=1:10)

In [13]:
violencia_final<-violencia%>%
#seleccionar columnas 2 y 7
select(c(2,7))%>%rename(violencia_2021=1,
                        violencia_2016=2)
violencia_final

  violencia_2021 violencia_2016
1 46.13754       55.06094

### Percepción de inseguridad

In [14]:
dir.create('datos/envipe', showWarnings = FALSE)
url_1 <- 'https://www.inegi.org.mx/contenidos/programas/envipe/'
url_2 <- '/microdatos/bd_envipe_'
years <- c(2020:2024)
data_list <- list()

In [15]:
# Ciclo 1: Descarga y descompresión
for (i in 1:length(years)) {
    if (years[i] %in% c(2024)) {
        fin <- '_csv.zip'
    } else {
        fin <- '_dbf.zip'
    }

    url <- paste0(url_1, years[i], url_2, years[i], fin)
    destfile <- paste0('datos/envipe/', years[i], fin)
    folder <- paste0('datos/envipe/', years[i])

    dir.create(folder, showWarnings = FALSE)

    tryCatch(
        {
            options(timeout = 9999999)
            download.file(url, destfile, mode = 'wb')
        },
        error = function(e) {
            message('Error en la descarga: ', e)
        }
    )

    unzip_result <- tryCatch(
        {
            unzip(destfile, exdir = folder)
            TRUE
        },
        error = function(e) {
            message('Error en la descompresión: ', e)
            FALSE
        }
    )

    if (unzip_result) {
        print(paste('Archivos descomprimidos para el año', years[i]))

        # Eliminar el archivo ZIP después de la descompresión
        tryCatch(
            {
                file.remove(destfile)
                print(paste('Archivo eliminado:', destfile))
            },
            error = function(e) {
                message('Error al eliminar el archivo:', e)
            }
        )
    }
}

[1] "Archivos descomprimidos para el año 2020"
[1] "Archivo eliminado: datos/envipe/2020_dbf.zip"
[1] "Archivos descomprimidos para el año 2021"
[1] "Archivo eliminado: datos/envipe/2021_dbf.zip"
[1] "Archivos descomprimidos para el año 2022"
[1] "Archivo eliminado: datos/envipe/2022_dbf.zip"
[1] "Archivos descomprimidos para el año 2023"
[1] "Archivo eliminado: datos/envipe/2023_dbf.zip"
[1] "Archivos descomprimidos para el año 2024"
[1] "Archivo eliminado: datos/envipe/2024_csv.zip"

In [16]:
estima_inseguridad <- function(year) {

# Definir rutas
if  (year %in% c(2020:2021)) {
    ruta_base <- paste0('datos/envipe/',year,'/bd_envipe_', year, '_dbf/')
}else {
    ruta_base <- paste0('datos/envipe/', year, '/')
}


#Leer datos
if (year %in% c(2020:2023)) {
    seguridad <- read.dbf(paste0(ruta_base, 'TPer_Vic1.dbf'))

} else {
    seguridad <- read_csv(paste0(ruta_base, 'TPer_Vic1.csv'))
}

seguridad<-seguridad%>%
    janitor::clean_names()%>%
    mutate(fac_ele=as.numeric(fac_ele), sexo=as.numeric(sexo))

#Crear diseño muestral
dm<-seguridad%>%
    as_survey_design(
    weights = fac_ele,
    ids = upm_dis,
    strata = est_dis,
    nest = TRUE
    )


  #Estimar percepción de inseguridad de mujeres en la Ciudad de México
    resultado<-dm %>%
    filter(cve_ent == "09") %>%
    filter(ap4_3_3!=3)%>%
  mutate(tipo_seg=case_when(
    ap4_3_3 %in% c(1) ~ "Seguro",
    ap4_3_3 %in% c(2) ~ "Inseguro",
    ap4_3_3 %in% c(5) ~ "No aplica",
    ap4_3_3 %in% c(9) ~ "No sabe"))%>%
  group_by(sexo,tipo_seg) %>%
  summarise(
    pob = survey_total(vartype = "cv"),
    porcentaje = survey_prop(vartype = "cv")
  ) %>% mutate(porcentaje = porcentaje * 100)%>%
  filter(tipo_seg == "Inseguro", sexo==2)%>%
    mutate(year = year)

    return(resultado)
}

In [17]:
tabla_inseg<-map_dfr(2020:2024,estima_inseguridad)
tabla_inseg

New names:
• `` -> `...1`
Rows: 89630 Columns: 232
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (21): ID_VIV, ID_HOG, ID_PER, UPM, VIV_SEL, HOGAR, RESUL_H, R_SEL, AREA...
dbl (211): ...1, SEXO, EDAD, AP4_1, AP4_2_01, AP4_2_02, AP4_2_03, AP4_2_04, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  sexo tipo_seg pob     pob_cv     porcentaje porcentaje_cv year
1 2    Inseguro 3041434 0.01920830 86.74312   0.008427824   2020
2 2    Inseguro 3410235 0.01885379 86.63874   0.008147315   2021
3 2    Inseguro 3408583 0.02010401 85.74512   0.008338216   2022
4 2    Inseguro 3361871 0.01978396 83.76595   0.009211954   2023
5 2    Inseguro 3243254 0.02239651 78.70570   0.011078152   2024

### Empleo

In [18]:
# Función para descargar los datos de la ENOE en formato CSV
descargar_enoe_csv <- function() {
  # Crear directorio de trabajo si no existe
  if (!dir.exists("datos")) {
    dir.create("datos")
  }
  if (!dir.exists("datos/enoe")) {
    dir.create("datos/enoe")
  }

  # Cambiar al directorio de trabajo
  setwd("datos/enoe")

  # Función para descargar y extraer archivos
  descargar_extraer <- function(url) {
    temp <- tempfile()
    download.file(url, temp, mode = "wb")
    unzip(temp)
    unlink(temp)
  }

  # Descargar datos de 2005 a 2009
  for (i in 7:9) {
    url <- paste0("https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/200", i, "trim4_csv.zip")
    descargar_extraer(url)
  }

  # Descargar datos de 2010 a 2019
  for (i in 10:19) {
    url <- paste0("https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/20", i, "trim4_csv.zip")
    print(url)
    descargar_extraer(url)
  }

  # Descargar datos de 2020
  for (i in 20:20) {
    url <- paste0("https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/enoe_n_20", i, "_trim4_csv.zip")
    descargar_extraer(url)
  }

  # Descargar datos de 2021 a 2022
  for (i in 21:22) {
    url <- paste0("https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/enoe_n_20", i, "_trim4_csv.zip")
    descargar_extraer(url)
  }

  # Descargar datos de 2023
  for (i in 23:23) {
    url <- paste0("https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/enoe_20", i, "_trim4_csv.zip")
    descargar_extraer(url)
  }

  # Eliminar archivos innecesarios (conservar solo SDEMT y COE1T)
  # Listar archivos con extensión .csv, sin importar mayúsculas/minúsculas
  archivos <- list.files(pattern = "\\.csv$", ignore.case = TRUE)

  # Lista de archivos a eliminar (que NO contienen "SDEMT" o "COE1T", sin importar mayúsculas/minúsculas)
  archivos_a_eliminar <- archivos[!grepl("sdemt|coe1t", archivos, ignore.case = TRUE)]
  file.remove(archivos_a_eliminar)

  # Eliminar archivo zip (si existe)
  if (file.exists("archivos.zip")) {
    file.remove("archivos.zip")
  }

  # Regresar al directorio original
  setwd("../..")
}

In [19]:
descargar_enoe_csv()

[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2010trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2011trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2012trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2013trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2014trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2015trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2016trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2017trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2018trim4_csv.zip"
[1] "https://www.inegi.org.mx/contenidos/programas/enoe/15ymas/microdatos/2019trim4_csv.zip"

In [20]:
# Función para extraer el año desde el nombre del archivo
extraer_anio <- function(path) {
  anio_str <- str_extract(path, "\\d{2}(?=\\D*$)") # Extrae los últimos dos dígitos del año
  anio <- as.numeric(paste0("20", anio_str)) # Convierte a formato 20XX
  return(anio)
}

In [21]:
# Función para procesar la ENOE y estimar el empleo cultural
estima_empleo_cultura <- function(sdemt_path, coe1t_path) {
  year <- extraer_anio(sdemt_path)

  # Leer y filtrar ocupados
  ocupados <- read_csv(sdemt_path, show_col_types = FALSE) %>%
    janitor::clean_names() %>%
    filter(
      clase2 == 1,
      (eda >= 15 & eda <= 98 & !is.na(eda)) & (c_res == 1 | c_res == 3)
    ) %>%
    mutate(year = year) # Agregar el año

  # Leer COE1T y seleccionar columnas según el año
  sinco <- read_csv(coe1t_path, show_col_types = FALSE) %>%
    janitor::clean_names() %>%
    { if (year <= 2019) select(., cd_a, ent, con, v_sel, n_hog, h_mud, n_ren, p3) else
        select(., tipo, mes_cal, cd_a, ent, con, v_sel, n_hog, h_mud, n_ren, p3) } %>%
    rename(sinco = p3)

  # Hacer el `left_join()` sin `tipo` si el año está entre 2005 y 2019
  if (year <= 2019) {
    ocupados <- left_join(ocupados, sinco, by = c("cd_a", "ent", "con", "v_sel", "n_hog", "h_mud", "n_ren"))
  } else {
    ocupados <- left_join(ocupados, sinco, by = c("tipo", "mes_cal", "cd_a", "ent", "con", "v_sel", "n_hog", "h_mud", "n_ren"))
  }

  # Clasificación de empleo cultural
  ocupados <- ocupados %>%
    mutate(
             cultura_cdmx_st = ifelse(sinco %in% c(
        2175, 7611, 2552, 2131, 7313, 7342, 7321, 2174, 7343, 2173, 2171, 1721, 1722,
        2544, 2271, 2625, 2162, 1422, 1322, 1421, 2541, 2543, 2542, 2164, 2151, 2163, 2144, 2425, 2655, 3222, 7322, 2712,
        7223, 2551, 5212, 2636, 4233, 2172, 8155, 8144, 7999, 7344, 2553, 7352, 2152, 2161, 7323, 7201, 7601, 7401, 7301,
        2652, 7332, 9713, 4312, 7614, 7353, 2514, 5212, 2653, 2654, 7299, 7999, 7311, 7331, 7341, 7411, 7412, 9234, 9235,
        9237, 4233, 2141, 2153, 2339, 2334, 2715
      ), 1, 0)

    )

  # Crear diseño de encuesta
  options(survey.lonely.psu = "certainty")
  if (year <= 2019) {
    dm <- ocupados %>%
      as_survey_design(
        ids = upm,
        strata = est_d,
        weights = fac,
        nest = TRUE
      )
  } else {
    dm <- ocupados %>%
      as_survey_design(
        ids = upm,
        strata = est_d_tri,
        weights = fac_tri,
        nest = TRUE
      )
  }



  resultado<-dm %>%
      filter(ent == 9) %>%
      group_by(cultura_cdmx_st,sex) %>%
      summarise(
        ocupados = survey_total(vartype = "cv"),
        porcentaje = survey_prop(vartype = "cv")
      ) %>%
      mutate(porcentaje = porcentaje * 100) %>%
      filter(cultura_cdmx_st == 1,sex==2)%>%
              mutate(year = year)%>%
      filter(year>=2012)



  return(resultado)
}

In [22]:
lista_archivos <- list.files(path = "datos/enoe", full.names = TRUE)
archivos_sdemt <- lista_archivos[str_detect(lista_archivos, regex("sdemt", ignore_case = TRUE))]
archivos_coe1t <- lista_archivos[str_detect(lista_archivos, regex("coe1t", ignore_case = TRUE))]

In [23]:
# Crear un data frame con los nombres de archivos y sus años
df_archivos <- tibble(
  sdemt = archivos_sdemt,
  year = map_int(archivos_sdemt, extraer_anio)
) %>%
  left_join(
    tibble(
      coe1t = archivos_coe1t,
      year = map_int(archivos_coe1t, extraer_anio)
    ),
    by = "year"
  ) %>%
  filter(!is.na(sdemt) & !is.na(coe1t))%>%
        arrange(year)
df_archivos

   sdemt                         year coe1t
1  datos/enoe/SDEMT407.csv       2007 datos/enoe/COE1T407.csv
2  datos/enoe/SDEMT408.csv       2008 datos/enoe/COE1T408.csv
3  datos/enoe/SDEMT409.csv       2009 datos/enoe/COE1T409.csv
4  datos/enoe/SDEMT410.csv       2010 datos/enoe/COE1T410.csv
5  datos/enoe/SDEMT411.csv       2011 datos/enoe/COE1T411.csv
6  datos/enoe/sdemt412.csv       2012 datos/enoe/coe1t412.csv
7  datos/enoe/sdemt413.csv       2013 datos/enoe/coe1t413.csv
8  datos/enoe/SDEMT414.csv       2014 datos/enoe/COE1T414.csv
9  datos/enoe/SDEMT415.csv       2015 datos/enoe/COE1T415.csv
10 datos/enoe/SDEMT416.csv       2016 datos/enoe/COE1T416.csv
11 datos/enoe/SDEMT417.csv       2017 datos/enoe/COE1T417.csv
12 datos/enoe/SDEMT418.csv       2018 datos/enoe/COE1T418.csv
13 datos/enoe/sdemt419.csv       2019 datos/enoe/coe1t419.csv
14 datos/enoe/ENOEN_SDEMT420.csv 2020 datos/enoe/ENOEN_COE1T420.csv
15 datos/enoe/ENOEN_SDEMT421.csv 2021 datos/enoe/ENOEN_COE1T421.csv
16 datos/enoe/ENOEN_SDEMT422.csv 2022 datos/enoe/ENOEN_COE1T422.csv
17 datos/enoe/ENOE_SDEMT423.csv  2023 datos/enoe/ENOE_COE1T423.csv

In [24]:
#Estima empleo cultural de la Ciudad de México con metodología de cultura de la Ciudad de México
print("Población ocupada en cultura en la Ciudad de México de acuerdo a metodología de cultura cdmx")
empleo_cultural_cdmx <- df_archivos %>%
        select(-year) %>%
  mutate(data = map2(sdemt, coe1t, ~ estima_empleo_cultura(.x, .y))) %>%
  unnest(data)%>%
        select(year,ocupados,ocupados_cv,porcentaje,porcentaje_cv)%>%
        mutate(porcentaje=round(porcentaje,2))
empleo_cultural_cdmx

[1] "Población ocupada en cultura en la Ciudad de México de acuerdo a metodología de cultura cdmx"

Warning message:
"There were 23 warnings in `mutate()`.
The first warning was:
ℹ In argument: `data = map2(sdemt, coe1t, ~estima_empleo_cultura(.x, .y))`.
Caused by warning:
! One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)
ℹ Run `dplyr::last_dplyr_warnings()` to see the 22 remaining warnings."

   year ocupados ocupados_cv porcentaje porcentaje_cv
1  2012 138025   0.10084548  40.37      0.07194972
2  2013 121670   0.09421975  36.21      0.07388593
3  2014 100637   0.11085896  36.76      0.08324116
4  2015 102168   0.10818801  33.76      0.08506522
5  2016 116814   0.09992646  36.25      0.07802852
6  2017 138220   0.09385297  41.96      0.07122918
7  2018 136739   0.10213035  39.13      0.07603847
8  2019 135904   0.09715456  36.29      0.07528678
9  2020 109962   0.15542353  38.25      0.11466316
10 2021 158501   0.09955016  41.19      0.06793952
11 2022 145358   0.10083973  36.57      0.08169807
12 2023 137527   0.09759453  37.06      0.07794241

In [25]:
## Personas titulares en la Administración pública de la Ciudad de México

In [26]:
url<-"https://www.inegi.org.mx/contenidos/programas/cnge/"
segunda<-"/datosabiertos/m1/rec_huma_cnge"
fin<-"_csv.zip"

years<-c(2021:2024)

In [27]:
#Crea urls, descarga en carpeta "datos", descomprime y elimina archivos zip
for (i in years){
  url_descarga<-paste0(url,i,segunda,i,fin)
  temp <- tempfile()
  download.file(url_descarga, temp, mode = "wb")
  unzip(temp, exdir = "datos")
  unlink(temp)
}

In [28]:
##Función de titulares mujeres

titulares_mujeres <- function(year) {
  # Seleccionar archivo según el año
  archivo <- switch(as.character(year),
                    "2024" = "m1s1p3_cnge2024.csv",
                    "2021" = "m1s1p3_cnge2021.csv",
                    "2023" = "m1s1p2_cnge2023.csv",
                    "2022" = "m1s1p7_cnge2022.csv",
                    stop("Año no válido. Prueba con 2021, 2022, 2023 o 2024.")
  )

  # Leer y procesar los datos
df<-read_csv(paste0("datos/conjunto_de_datos/", archivo)) %>%
janitor::clean_names()
#Renomnbrar columnas si existen
   if ("sexo_e" %in% names(df)) {
    df <- df %>% rename(sexo_i = sexo_e)
  } else if ("sexo_f" %in% names(df)) {
    df <- df %>% rename(sexo_i = sexo_f)
  }

df%>%
    janitor::clean_names() %>%
    filter(entidad_a == 9) %>%
    group_by(sexo_i) %>%
    summarise(personas = n(), .groups = "drop") %>%
    mutate(porcentaje = personas / sum(personas) * 100) %>%
    filter(sexo_i == 2)%>%
mutate(year = year)

}

In [29]:
#Titulares mujeres

titulares_mujeres<-map_dfr(years,titulares_mujeres)
titulares_mujeres

Rows: 2271 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): nombre1, edades, totalca1, antigu_a, antigu_b
dbl (11): entidad_a, numeral, sexo_e, gdoestud_d, estagrad_b, emplante_a, pu...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 2239 Columns: 17
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (6): enticve1, nombre1, edades, totalca1, antigu_a, antigu_b
dbl (11): entidad_a, numeral, sexo_f, gdoestud_h, estagrad_c, emplante_e, pu...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 2270 Columns: 17
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): enticve1, nombre1, edades, totalca1, antigu_a, antigu_b, integra1
dbl (10): entidad_a, numeral, sexo_i, gdoestud_k, estagrad_e, emplante_g, pu...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 2279 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (6): enticve1, nombre1, edades, totalca1, antigu_a, antigu_b
dbl (12): entidad_a, numeral, sexo_i, gdoestud_k, estagrad_e, emplante_g, pu...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  sexo_i personas porcentaje year
1 2      36       46.15385   2021
2 2      28       37.33333   2022
3 2      32       42.10526   2023
4 2      29       37.66234   2024

### Cuidados

In [30]:
url_cuenta_sat<-"https://www.inegi.org.mx/contenidos/programas/tnrh/2018/datosabiertos/tnrh_anual_csv.zip"

In [31]:
#Directorio cuidados
if (!dir.exists("datos/cuidados")) {
  dir.create("datos/cuidados")
}

In [32]:
#Descargar, descomprimir y borrar zip en la carpeta "datos"
temp <- tempfile()
download.file(url_cuenta_sat, temp, mode = "wb")
unzip(temp, exdir = "datos/cuidados")
unlink(temp)

In [33]:
###Leer tabla de tiempo destinado a cuidados


# Read the data and process it
tiempo_dest <- rio::import("https://www.inegi.org.mx/contenidos/programas/tnrh/2018/tabulados/ori/CSTNRHM_67.xlsx") %>%
  as_tibble() %>%
  slice(6:n()) %>%  # Skip first 4 rows
  {
    col_names <- as.character(.[1, ])  # Extract first row as column names

    # Replace NA or empty column names with unique placeholders
    col_names[is.na(col_names) | col_names == ""] <- paste0("Unnamed_", seq_along(col_names))

    # Ensure unique column names
    col_names <- make.names(col_names, unique = TRUE)

    colnames(.) <- col_names  # Assign new column names
    slice(., -1)  # Remove first row after setting it as header
  }

tiempo_dest<-tiempo_dest%>%
janitor::clean_names()%>%
#Seleccionar primera columna y todas aquellas que contengan "horas_semanales"
select(1,contains("horas_semanales_"))%>%rename(cuidados=1)%>%
#Eliminar espacios atrás en primera columna
mutate(cuidados=str_trim(cuidados, side = "left"))%>%
#Filtrar si la primera columna contiene "Total"
filter(str_detect(cuidados,"Total"))%>%
#Dejar fila 10
slice(10)%>%
#Quitar columnas que contengan "horas_semanales_per_capita"
select(-contains("horas_semanales_per_capita"))%>%
#Pivot long
pivot_longer(-c(cuidados),names_to="sexo",values_to="horas_semanales")%>%
filter(as.numeric(gsub("horas_semanales_", "", sexo)) %% 3 != 0)%>%
select(!sexo)%>%
#Crear variable sexo donde primero sea mujer y después hombre
mutate(sexo=ifelse(row_number()%%2==0,"Hombre","Mujer"))%>%
  mutate(year = 2019 + ((row_number() - 1) %/% 2))%>%
  mutate(horas_semanales=as.numeric(horas_semanales))

tiempo_dest<-tiempo_dest%>%
pivot_wider(names_from = sexo, values_from = horas_semanales)%>%
#Relación con dos decimales
mutate(rel_muj_hom=round(Mujer/Hombre,2))


tiempo_dest

New names:
• `` -> `...2`
• `` -> `...3`
• `` -> `...4`
• `` -> `...5`
• `` -> `...6`
• `` -> `...7`
• `` -> `...8`
• `` -> `...9`
• `` -> `...10`
• `` -> `...11`
• `` -> `...12`
• `` -> `...13`
• `` -> `...14`
• `` -> `...15`
• `` -> `...16`
• `` -> `...17`
• `` -> `...18`
• `` -> `...19`
• `` -> `...20`
• `` -> `...21`
• `` -> `...22`
• `` -> `...23`
• `` -> `...24`
• `` -> `...25`
• `` -> `...26`
• `` -> `...27`
• `` -> `...28`
• `` -> `...29`
• `` -> `...30`
• `` -> `...31`
• `` -> `...32`
• `` -> `...33`
• `` -> `...34`
• `` -> `...35`
• `` -> `...36`
• `` -> `...37`
• `` -> `...38`
• `` -> `...39`
• `` -> `...40`
• `` -> `...41`
• `` -> `...42`
• `` -> `...43`
• `` -> `...44`
• `` -> `...45`
• `` -> `...46`
• `` -> `...47`
• `` -> `...48`
• `` -> `...49`
• `` -> `...50`
• `` -> `...51`
• `` -> `...52`
• `` -> `...53`
• `` -> `...54`
• `` -> `...55`
• `` -> `...56`
• `` -> `...57`
• `` -> `...58`
• `` -> `...59`
• `` -> `...60`
• `` -> `...61`
• `` -> `...62`
• `` -> `...63`
• `` -> `...64`
• `` -> `...65`
• `` -> `...66`
• `` -> `...67`
• `` -> `...68`
• `` -> `...69`
• `` -> `...70`
• `` -> `...71`
• `` -> `...72`
• `` -> `...73`
• `` -> `...74`
• `` -> `...75`
• `` -> `...76`
• `` -> `...77`
• `` -> `...78`
• `` -> `...79`
• `` -> `...80`
• `` -> `...81`
• `` -> `...82`
• `` -> `...83`
• `` -> `...84`
• `` -> `...85`
• `` -> `...86`
• `` -> `...87`
• `` -> `...88`
• `` -> `...89`
• `` -> `...90`
• `` -> `...91`
• `` -> `...92`
• `` -> `...93`
• `` -> `...94`
• `` -> `...95`
• `` -> `...96`
Warning message in col_names[is.na(col_names) | col_names == ""] <- paste0("Unnamed_", :
"número de elementos para sustituir no es un múltiplo de la longitud del reemplazo"

  cuidados year Mujer     Hombre   rel_muj_hom
1 Total    2019 142688521 62813404 2.27
2 Total    2020 145605145 65376670 2.23
3 Total    2021 148272245 68606916 2.16
4 Total    2022 153227469 72853711 2.10
5 Total    2023 157280688 76898733 2.05

### Estimación de metas


#### Promedio diario de víctimas de delitos con perspectiva de género

In [34]:
vict_pg

  year vict  promedio_diario
1 2019 28658  78.51507
2 2020 26082  71.45753
3 2021 37095 101.63014
4 2022 40431 110.76986
5 2023 40775 111.71233
6 2024 29962  82.08767

In [35]:
### Calcular tasa de crecimiento promedio anual de promedio_diario

valor_final<-vict_pg%>%
  filter(year==2024)%>%
  select(promedio_diario)%>%
  pull()

 valor_inicial<-vict_pg%>%
  filter(year==2021)%>%
  select(promedio_diario)%>%
  pull()


tasa_crecimiento<-((valor_final/valor_inicial)^(1/3)-1)*100
tasa_crecimiento

[1] -6.870957

In [36]:
#Estimar valores de 2023 a 2045
tcma_vict<-((vict_pg$promedio_diario[vict_pg$year==2024]/vict_pg$promedio_diario[vict_pg$year==2021])^(1/(2024-2021))-1)
tcma_vict

[1] -0.06870957

In [37]:
#Extender la serie de 2025 a 2045

extendido_vict<-data.frame(year=2025:2045)

extendido_vict$promedio_diario<-vict_pg$promedio_diario[vict_pg$year==2024]*cumprod(rep(1+tcma_vict,length(2025:2045)))
extendido_vict%>%
    mutate(promedio_diario=round(promedio_diario,2))

   year promedio_diario
1  2025 76.45
2  2026 71.19
3  2027 66.30
4  2028 61.75
5  2029 57.50
6  2030 53.55
7  2031 49.87
8  2032 46.45
9  2033 43.26
10 2034 40.28
11 2035 37.52
12 2036 34.94
13 2037 32.54
14 2038 30.30
15 2039 28.22
16 2040 26.28
17 2041 24.48
18 2042 22.79
19 2043 21.23
20 2044 19.77
21 2045 18.41

#### Promedio diario de víctimas de feminicidio

In [38]:
vict_fem

  year vict promedio_diario
1 2019 70   0.1917808
2 2020 70   0.1917808
3 2021 61   0.1671233
4 2022 78   0.2136986
5 2023 63   0.1726027
6 2024 43   0.1178082

In [39]:
tcma_vict_fem<-((vict_fem$promedio_diario[vict_fem$year==2024]/vict_fem$promedio_diario[vict_fem$year==2021])^(1/(2024-2021))-1)
tcma_vict_fem

[1] -0.1100214

In [40]:
extendido_vict_fem<-data.frame(year=2025:2045)

extendido_vict_fem$promedio_diario<-vict_fem$promedio_diario[vict_fem$year==2024]*cumprod(rep(1+tcma_vict,length(2025:2045)))
extendido_vict_fem%>%
    mutate(promedio_diario=round(promedio_diario,2))

   year promedio_diario
1  2025 0.11
2  2026 0.10
3  2027 0.10
4  2028 0.09
5  2029 0.08
6  2030 0.08
7  2031 0.07
8  2032 0.07
9  2033 0.06
10 2034 0.06
11 2035 0.05
12 2036 0.05
13 2037 0.05
14 2038 0.04
15 2039 0.04
16 2040 0.04
17 2041 0.04
18 2042 0.03
19 2043 0.03
20 2044 0.03
21 2045 0.03

#### Episodios de violencia experimentado por las mujeres

In [41]:
violencia_long<-violencia_final%>%pivot_longer(cols = c(violencia_2021, violencia_2016), 
               names_to = "anio", 
               values_to = "violencia")%>%
                 mutate(anio = as.numeric(gsub("violencia_", "", anio)))%>%
                 #Ordenar por año
                    arrange(anio)%>%
                    #Renombrar anio como year
                    rename(year = anio)
violencia_long

  year violencia
1 2016 55.06094
2 2021 46.13754

In [42]:
#Hacer el extendido de 2021 a 2045 de 5 en 5 años

tcma_violencia<-((violencia_long$violencia[violencia_long$year==2021]/violencia_long$violencia[violencia_long$year==2016])^(1/(2021-2016))-1)
tcma_violencia

[1] -0.03474477

In [43]:
#Extendido pero años de 5 en 5
extendido_violencia<-data.frame(year=2022:2045)

extendido_violencia$violencia<-violencia_long$violencia[violencia_long$year==2021]*cumprod(rep(1+tcma_violencia,length(2022:2045)))
extendido_violencia%>%
mutate(violencia=round(violencia,2))

   year violencia
1  2022 44.53
2  2023 42.99
3  2024 41.49
4  2025 40.05
5  2026 38.66
6  2027 37.32
7  2028 36.02
8  2029 34.77
9  2030 33.56
10 2031 32.39
11 2032 31.27
12 2033 30.18
13 2034 29.13
14 2035 28.12
15 2036 27.14
16 2037 26.20
17 2038 25.29
18 2039 24.41
19 2040 23.56
20 2041 22.75
21 2042 21.96
22 2043 21.19
23 2044 20.46
24 2045 19.75

#### Percepción de inseguridad

In [44]:
tabla_inseg

  sexo tipo_seg pob     pob_cv     porcentaje porcentaje_cv year
1 2    Inseguro 3041434 0.01920830 86.74312   0.008427824   2020
2 2    Inseguro 3410235 0.01885379 86.63874   0.008147315   2021
3 2    Inseguro 3408583 0.02010401 85.74512   0.008338216   2022
4 2    Inseguro 3361871 0.01978396 83.76595   0.009211954   2023
5 2    Inseguro 3243254 0.02239651 78.70570   0.011078152   2024

In [45]:
#Modelo de regresión lineal

modelo<-lm(porcentaje~year,data=tabla_inseg)
summary(modelo)

Call:
lm(formula = porcentaje ~ year, data = tabla_inseg)

Residuals:
      1       2       3       4       5
-1.3661  0.4243  1.4254  1.3410 -1.8245

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 3915.5299  1120.0449   3.496   0.0396 *
year          -1.8948     0.5539  -3.421   0.0418 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.752 on 3 degrees of freedom
Multiple R-squared:  0.7959,	Adjusted R-squared:  0.7279
F-statistic:  11.7 on 1 and 3 DF,  p-value: 0.04182

In [46]:
##Hacer las predicciones de 2025 a 2045
predicciones<-data.frame(year=2025:2045)
predicciones$porcentaje<-predict(modelo,newdata=predicciones)
predicciones%>%
    mutate(porcentaje=round(porcentaje,2))

   year porcentaje
1  2025 78.64
2  2026 76.74
3  2027 74.85
4  2028 72.95
5  2029 71.06
6  2030 69.16
7  2031 67.27
8  2032 65.37
9  2033 63.48
10 2034 61.58
11 2035 59.69
12 2036 57.79
13 2037 55.90
14 2038 54.00
15 2039 52.11
16 2040 50.21
17 2041 48.32
18 2042 46.42
19 2043 44.53
20 2044 42.63
21 2045 40.74

#### Empleo cultural

In [47]:
empleo_cultural_cdmx

   year ocupados ocupados_cv porcentaje porcentaje_cv
1  2012 138025   0.10084548  40.37      0.07194972
2  2013 121670   0.09421975  36.21      0.07388593
3  2014 100637   0.11085896  36.76      0.08324116
4  2015 102168   0.10818801  33.76      0.08506522
5  2016 116814   0.09992646  36.25      0.07802852
6  2017 138220   0.09385297  41.96      0.07122918
7  2018 136739   0.10213035  39.13      0.07603847
8  2019 135904   0.09715456  36.29      0.07528678
9  2020 109962   0.15542353  38.25      0.11466316
10 2021 158501   0.09955016  41.19      0.06793952
11 2022 145358   0.10083973  36.57      0.08169807
12 2023 137527   0.09759453  37.06      0.07794241

In [48]:
tcma_empcult<-((empleo_cultural_cdmx$porcentaje[empleo_cultural_cdmx$year==2023]/empleo_cultural_cdmx$porcentaje[empleo_cultural_cdmx$year==2013])^(1/(2023-2013))-1)
tcma_empcult

[1] 0.002322984

In [49]:
extendido_empcult<-data.frame(year=2024:2045)

extendido_empcult$porcentaje<-empleo_cultural_cdmx$porcentaje[empleo_cultural_cdmx$year==2023]*cumprod(rep(1+tcma_empcult,length(2024:2045)))
extendido_empcult%>%
mutate(porcentaje=round(porcentaje,2))

   year porcentaje
1  2024 37.15
2  2025 37.23
3  2026 37.32
4  2027 37.41
5  2028 37.49
6  2029 37.58
7  2030 37.67
8  2031 37.75
9  2032 37.84
10 2033 37.93
11 2034 38.02
12 2035 38.11
13 2036 38.19
14 2037 38.28
15 2038 38.37
16 2039 38.46
17 2040 38.55
18 2041 38.64
19 2042 38.73
20 2043 38.82
21 2044 38.91
22 2045 39.00

#### Titulares mujeres

In [50]:
titulares_mujeres

  sexo_i personas porcentaje year
1 2      36       46.15385   2021
2 2      28       37.33333   2022
3 2      32       42.10526   2023
4 2      29       37.66234   2024

In [51]:
tcma_titulares<-((titulares_mujeres$porcentaje[titulares_mujeres$year==2024]/titulares_mujeres$porcentaje[titulares_mujeres$year==2022])^(1/(2024-2022))-1)
tcma_titulares

[1] 0.004396643

In [52]:
extendido_titulares<-data.frame(year=2025:2045)

extendido_titulares$porcentaje<-titulares_mujeres$porcentaje[titulares_mujeres$year==2024]*cumprod(rep(1+tcma_titulares,length(2025:2045)))
extendido_titulares%>%
mutate(porcentaje=round(porcentaje,2))

   year porcentaje
1  2025 37.83
2  2026 37.99
3  2027 38.16
4  2028 38.33
5  2029 38.50
6  2030 38.67
7  2031 38.84
8  2032 39.01
9  2033 39.18
10 2034 39.35
11 2035 39.52
12 2036 39.70
13 2037 39.87
14 2038 40.05
15 2039 40.22
16 2040 40.40
17 2041 40.58
18 2042 40.76
19 2043 40.94
20 2044 41.12
21 2045 41.30

#### Tiempo de cuidados

In [53]:
tiempo_dest

  cuidados year Mujer     Hombre   rel_muj_hom
1 Total    2019 142688521 62813404 2.27
2 Total    2020 145605145 65376670 2.23
3 Total    2021 148272245 68606916 2.16
4 Total    2022 153227469 72853711 2.10
5 Total    2023 157280688 76898733 2.05

In [54]:
modelo_tiempo=lm(rel_muj_hom~year,data=tiempo_dest)
summary(modelo_tiempo)

Call:
lm(formula = rel_muj_hom ~ year, data = tiempo_dest)

Residuals:
     1      2      3      4      5
-0.006  0.011 -0.002 -0.005  0.002

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) 117.359000   5.086073   23.07 0.000178 ***
year         -0.057000   0.002517  -22.65 0.000188 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.007958 on 3 degrees of freedom
Multiple R-squared:  0.9942,	Adjusted R-squared:  0.9922
F-statistic:   513 on 1 and 3 DF,  p-value: 0.0001885

In [55]:
##Hacer las predicciones de 2025 a 2045
predicciones_tiempo<-data.frame(year=2024:2045)
predicciones_tiempo$rel_muj_hom<-predict(modelo_tiempo,newdata=predicciones_tiempo)%>%
    round(2)
ajuste <- 1 / predicciones_tiempo$rel_muj_hom[predicciones_tiempo$year == 2045]


predicciones_tiempo$rel_muj_hom <- predicciones_tiempo$rel_muj_hom * ajuste
predicciones_tiempo%>%
mutate(rel_muj_hom=round(rel_muj_hom,2))

   year rel_muj_hom
1  2024 2.52
2  2025 2.44
3  2026 2.38
4  2027 2.30
5  2028 2.23
6  2029 2.16
7  2030 2.09
8  2031 2.01
9  2032 1.94
10 2033 1.87
11 2034 1.80
12 2035 1.72
13 2036 1.66
14 2037 1.58
15 2038 1.51
16 2039 1.44
17 2040 1.37
18 2041 1.29
19 2042 1.22
20 2043 1.15
21 2044 1.08
22 2045 1.00

### Escenarios

In [56]:
generar_grafica <- function(tabla_obs, tabla_est, margen, titulo,base, linea_base,
                            nombre_archivo, nombre_estimado_futuro,
                            linea_vertical,despegue,
                            ano_base= 2022,
                            nombre_intervalo_superior, nombre_intervalo_inferior,
                            limite_inferior_y, variable_intervals = "porcentaje") {

  serie_completa <- dplyr::bind_rows(
    tabla_obs %>%
      dplyr::mutate(year = as.numeric(year)) %>%
      intervals(variable_intervals, margen = 0, año_base = ano_base),

    tabla_est %>%
      dplyr::mutate(year = as.numeric(year)) %>%
      intervals(variable_intervals, margen = margen, año_base = ano_base)
  )

  grafica <- grafica_bonita(
    data = serie_completa,
    x = "year",
    y = "estimado",
    titulo = titulo,
    ano_base=base,
     mostrar_etiqueta_ano_base = TRUE,
     desplazamiento_ano_base = despegue,
    linea_vertical = linea_base,
    anios_etiquetas=c(2045),
    mostrar_intervalo = "ambos",
    nombre_observado = "Observado",
    nombre_estimado_futuro = nombre_estimado_futuro,
    nombre_intervalo_superior = nombre_intervalo_superior,
    nombre_intervalo_inferior = nombre_intervalo_inferior,
    mostrar_leyenda = TRUE,
    fuente = "pop",
    etiqueta_x = "Año",
    etiqueta_y = "Porcentaje",
    titulo_leyenda = "Escenarios",
    limite_inferior_y = limite_inferior_y
  )

ggsave(paste0("H:/Mi unidad/pgd/graficas/",nombre_archivo), grafica, width = 10, height = 6, dpi = 185, bg = "white")
}

In [69]:
configuraciones <- tibble::tibble(
  tabla_obs = list(tiempo_dest,
  violencia_long,
  vict_pg,
  vict_fem,
tabla_inseg,
empleo_cultural_cdmx,
titulares_mujeres

  ),
  tabla_est = list(predicciones_tiempo,
   extendido_violencia,
   extendido_vict,
   extendido_vict_fem,
   predicciones,
   extendido_empcult,
   extendido_titulares
   ),
  margen = c(0.004,
  0.004,
  0.004,
  0.004,
  0.004,
  0.002,
  0.003
  ),
  base = c(2024,
   2021,
   2024,
   2024,
   2024,
   2024,
   2024),
    despegue = list(
    c(0.5, 0.15),  
    c(1, 1), 
    c(1, 0) ,
    c(1, 0) ,
    c(1, 1) ,
    c(1, 1) ,
    c(0.8, 1.5)
  ),
   
  nombre_archivo = c("tiempo_cuidados_estimadas.png",
  "violencia_estimadas.png",
  "promedio_diario_victimas_estimadas.png",
  "promedio_diario_fem_estimadas.png",
  "inseguridad_mujeres_estimadas.png",
  "empleo_cultural_cdmx_estimadas.png",
  "titulares_mujeres_estimadas.png"
  ),

  linea_base = c(2024,
  2021,
  2024,
  2024,
  2024,
  2024,
  2024
  ),
  titulo = c("Razón de tiempo destinado a cuidados no remunerados",
  "Porcentaje de mujeres que tuvieron algún evento de violencia en los últimos 12 meses",
  "Promedio diario de víctimas de delitos
con perspectiva de género",
"Promedio diario de víctimas de feminicidio",
"Porcentaje de mujeres que se sienten inseguras en la Ciudad de México",
"Porcentaje de mujeres ocupadas 
en actividades artísticas y culturales",
"Porcentaje de mujeres titulares de instituciones 
de la administración pública de la Ciudad de México"

  ),
  nombre_estimado_futuro = c("Deseable","Deseable","Deseable","Deseable","Deseable","Deseable","Deseable"),
  nombre_intervalo_superior = c("Inercial", "Inercial","Inercial","Inercial","Inercial","Transformador","Transformador"),
  nombre_intervalo_inferior = c("Transformador", "Transformador","Transformador","Transformador","Transformador","Inercial", "Inercial"),
  limite_inferior_y = c(0,10,0,0,0,25,30),
  variable_intervals = c("rel_muj_hom","violencia","promedio_diario","promedio_diario","porcentaje","porcentaje","porcentaje")
)

In [70]:
pmap(
  configuraciones,
  function(tabla_obs, tabla_est, margen,base,linea_base,
  nombre_archivo,linea_vertical,ano_base,despegue,
           titulo, nombre_estimado_futuro,
           nombre_intervalo_superior, nombre_intervalo_inferior,
           limite_inferior_y, variable_intervals) {
    generar_grafica(
      tabla_obs = tabla_obs,
      tabla_est = tabla_est,
      base=base,
      linea_base=linea_base,
      despegue=despegue,
      margen = margen,
      titulo = titulo,
      nombre_archivo = nombre_archivo,
      nombre_estimado_futuro = nombre_estimado_futuro,
      nombre_intervalo_superior = nombre_intervalo_superior,
      nombre_intervalo_inferior = nombre_intervalo_inferior,
      limite_inferior_y = limite_inferior_y,
      variable_intervals = variable_intervals
    )
  }
)

Adding missing grouping variables: `sexo`

[[1]]
[1] "H:/Mi unidad/pgd/graficas/tiempo_cuidados_estimadas.png"

[[2]]
[1] "H:/Mi unidad/pgd/graficas/violencia_estimadas.png"

[[3]]
[1] "H:/Mi unidad/pgd/graficas/promedio_diario_victimas_estimadas.png"

[[4]]
[1] "H:/Mi unidad/pgd/graficas/promedio_diario_fem_estimadas.png"

[[5]]
[1] "H:/Mi unidad/pgd/graficas/inseguridad_mujeres_estimadas.png"

[[6]]
[1] "H:/Mi unidad/pgd/graficas/empleo_cultural_cdmx_estimadas.png"

[[7]]
[1] "H:/Mi unidad/pgd/graficas/titulares_mujeres_estimadas.png"